/* 
 _______  _______  _______ _________
(  ____ )(  ___  )(  ___  )\__   __/
| (    )|| (   ) || (   ) |   ) (   
| (____)|| |   | || |   | |   | |   
|     __)| |   | || |   | |   | |   
| (\ (   | |   | || |   | |   | |   
| ) \ \__| (___) || (___) |   | |   
|/   \__/(_______)(_______)   )_(   
*/


:root {
  --bp-mobile: 768px;
  --bp-tablet: 1024px;
  --bp-desktop: 1268px;
}

/* 
____    ___   ____   _  _
|| ))  // \\  || \\  \\//
||=)  ((   )) ||  ))  )/ 
||_))  \\_//  ||_//  //  
*/

body {
  background: black;
  color: white;
  display: flex;
  flex-flow: column nowrap;
}



/* 
______  ____  __  ______
| || | ||    (( \ | || |
  ||   ||==   \\    ||  
  ||   ||___ \_))   ||  
*/

section#ownthing {
  margin-block: 5vh;

  border: 2px solid #00f0ff;
  box-shadow: 0 0 15px #00f0ff;
  /* 
  STRONGER GLOW

    border: 2px solid #00f0ff;
    box-shadow:
      0 0 5px #00f0ff,
      0 0 15px #00f0ff,
      0 0 30px #00f0ff;
  */

  display: inline-block;
  width: fit-content;
  min-width: min-content;

  & .article {
    width: max-content;
  }
}

/* desktop */
@media (max-width: 1024px) {
  
}

/* tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* mobile */
@media (max-width: 768px) {

}

.button {
  transform: translateY(0);
  transition: transform 0.25s ease;
}

.button:hover {
  transform: translateY(-5px);
}