body {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


section#ownthing {
  margin-block: 5vh;
}

.button {
  transform: translateY(0);
  transition: transform 0.25s ease;
}

.button:hover {
  transform: translateY(-5px);
}